PORT=
DB_URL=
NODE_ENV=development/production

#jwt
JWT_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

#bcrypt
BCRYPT_SALT_ROUND=

#SUPER_ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

#Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#express-session
EXPRESS_SESSION_SECRET=

#FRONTEND_URl
FRONTEND_URl=